body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,blue, yellow, green);
   min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* font-family: Trebuchet MS;*/
    font-family: Bodoni MT;
	font-weight:700;
    font-size: 18px;
}
.grid{
    display:grid;
   /* background: linear-gradient(to top, blue, yellow, green);*/
    border: 5px solid;
    max-width: 650px;
    
    
}
.grid-item{
    background-color: rgba(255 255 255 .1);
   /* border: 4px solid #ff6633;*/
    padding: 10px;
}
.title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.button-time {
    display:grid;
    grid-template-columns: 33% 33% 33%;
   /* padding: 20px;*/
}

.date{
    text-align: center;
	align-items:top;
	/*padding;0;*/
	margin-top:0;
    margin-bottom: 0;
}
.print{
	text-align: center;
	margin-top:0;
    margin-bottom: 0;
}
.printButton{
    width:70px; 
    background-color: aqua;
    border-radius: 5px;

}
.reset{
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.resetButton{
    width:70px;
    background-color: rgba(221, 18, 191, 0.765);
    border-radius: 5px;
}
.importer-label {
    margin-bottom: 0;
}

.importer-in{
    width: 250px;
    margin-bottom: 0;
}
p{
    margin-bottom: 0px;
}
.section-label{
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}
.declaration {
    margin-top: 0;
    margin-bottom: 0;
}
.value{
    display:grid; 
    grid-template-columns: 50% 25% 25%;
}

.value-2, .value-3{
    align-content: start;
}
.value-4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}
.val-label{
   /* margin-left: 10px;*/
}
.val-in{
    width: 100px;
    text-align: right;
    font-family: Trebuchet MS;
}
.fob-label{
    margin-right: 43px;
}
.frt-label{
    margin-right: 20px;
}
.total-btn, .cif{
    margin-top: 10px;
}
.total-btn{
    margin-right: 5px;
}
.T-and-C-label, .T-and-C-in{
    margin-top: 20px;
}
.specs{
    display:grid;
    grid-template-columns:50% 50% ;
    
    
    
}
.specs-1{
    /*justify-content: start;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;


}
.make-label{
    margin-right: 13.4px;
    
}
.model-label{
    margin-right: 8.5px;
}
.specs1-label {
    margin-left: 120px;
}
.specs1-in{
    width: 250px;
    font-family: Trebuchet MS;
}
.specs-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}
.specs2-in {
    width: 100px;
    text-align: right;
    font-family: Trebuchet MS;
}
.year-label{
    margin-right: 56px;
}
.source-label{
    margin-right: 40px;
}
.source-in{
    width: 70px;
    font-family: Trebuchet MS;
}
.hs-in{
    width: 72px;
    font-family: Trebuchet MS;
}

.cc_range-label{
    margin-right: 10px;
}
#year, #cc_s{
    width:64px;
    font-family: Trebuchet MS;
}
.specs-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;

}
.specL{
    /*margin-left: 10px;*/
}
.specs3-in{
    width: 70px;
    text-align: right;
    font-family: Trebuchet MS;
}
#options {
    width:110px;
    text-align: left;
}
.age-label{
    margin-right: 34px;
}
.seats-label {
    margin-right:  8.5px;

}
.options-label {
    margin-right: 13px;
}
.duties{
   /* display:grid;*/
    display: none; 
    
}
/*
table{
    display: none;
}

table, td, th{
    border:1px solid #a81c1c;
    }
table{
    border-collapse: collapse;
}
*/
.tax-rate{
    text-align: center;
    font-family: Trebuchet MS;
}
.tax-amount,.totals{
    text-align: center;
    font-family: Trebuchet MS;
}
.taxes {
    text-align: left;
}
.tduty{
    margin-left: 20px;
    text-align: center;
}
.oac {
    margin-left: 20px;
}
.over-all-cost{
    color:red;
}
.w-input {
	text-align:center;
}
.courtesy{
    text-align: center;
    font-size: 10px;
    border: 1px solid black;
}

@media screen and (max-width:800px) {
   #options {
        width:90px;
   }
   .specs1-label {
        margin-left:0px;

   }
}

@media print{
    .resetButton, .printButton {
        display:none;
    }
   /* .specs1-label{
        margin-left: 120px;*/
    }

}
